{% extends "base.html" %}

{% load staticfiles %}
{% load form_extras %}

{% block content %}

<form class="container form-horizontal" role="form" method="post" action".">
  {% csrf_token %}

  <div class="row">
    <div class="col-xs-12">
      <h4>{{ subheading }}</h4>

      {% for field in form %}

      <div class="form-group {% if field.errors %}has-error{% endif %}">

        <label for="{{field.id_for_label}}" class="col-xs-4 col-sm-3 control-label">
          {{ field.label|title }}
        </label>

        <div class="col-xs-6">
          {% if field|field_type != "CheckboxInput" %}
            {{ field }}
          {% else %}
            <ul class="list-unstyled">
              {% for checkbox in field %}
              <li class="checkbox">{{ checkbox }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

      </div>

      {% endfor %}

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="col-xs-offset-4 col-sm-offset-3 col-xs-6">
              <button type="submit" class="btn btn-primary">
                {% if submit_button_label %}
                  {{ submit_button_label }}
                {% else %}
                  Submit
                {% endif %}
              </button>
              <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#confirm-delete">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
</form>

<form action="./delete" method="post" class="modal fade" id="confirm-delete">
  {% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this item? You can't undo this action.</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script>
var bloodhound = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: {
    url: '/api/tags/?format=json',
    cache: false,
  }
});
bloodhound.initialize();

$('input[data-role=tagsinput]').tagsinput({
  typeaheadjs: {
    displayKey: 'name',
    valueKey: 'name',
    source: bloodhound.ttAdapter()
  }
});
</script>
{% endblock %}