<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">📘 Bookmarks</a>
      {% if tag_filter %}<p class="navbar-text">{{tag_filter.name}}</p>{% endif %}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">

        <li>
          <form class="navbar-form navbar-right" action="." method="get" role="search">
            <div class="form-group">
              <input type="text" class="form-control" name="search" placeholder="Search..." {% if request.GET.search %}value="{{request.GET.search}}"{% endif %}>
            </div>
          </form> 
        </li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'bookmark_create' %}">Add</a></li>
        {% endif %}

        <li><a href="#" data-toggle="modal" data-target="#filter-form">Filter</a></li>
        <li><a href="{% url 'charts' %}">Charts</a></li>

        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}
              {% elif user.email %}{{ user.email }}
              {% else %}{{ user.username }}{% endif %}
              &nbsp;<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
              <li><a href="{% url 'log_out' %}">Log Out</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{% url 'log_in' %}">Log In</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
