{% load template_extras %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">📘 Bookmarks</a>
    {% if tag_filter %}<span class="navbar-text me-2">{{tag_filter.name}}</span>{% endif %}
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <form class="d-flex me-2" action="." method="get" role="search">
            <input type="text" class="form-control" name="search" placeholder="Search..." {% if request.GET.search %}value="{{request.GET.search}}"{% endif %}>
          </form>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'bookmark_create' %}?{% url_replace request 'next' request.get_full_path %}">Add</a></li>
        {% endif %}

        <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#filter-form">Filter</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'charts' %}">Charts</a></li>

        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              {% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}
              {% elif user.email %}{{ user.email }}
              {% else %}{{ user.username }}{% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
              {% if user.is_superuser %}<li><a class="dropdown-item" href="{% url 'app_version' %}">App Version</a></li>{% endif %}
              <li><a class="dropdown-item" href="{% url 'log_out' %}">Log Out</a></li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'log_in' %}">Log In</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
