{% extends "base.html" %}
{% load static %}
{% load template_extras %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div id="activity-chart">
        <div id="activity-grid"></div>
      </div>
    </div>
  </div>

  {% for bookmark in bookmarks %}
  <div class="row bookmark">
    <div class="col-xs-12">
      <h4><a href="{{bookmark.url}}">{{bookmark.title}}</a>
      {% if bookmark.date_added %}
        <small>{{bookmark.date_added}}
        {% if user.is_staff %}
          <span class="admin-menu fade">
          <a href="{% url 'bookmark_update' bookmark.id %}?{% url_replace request 'next' request.get_full_path %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          </span>
        {% endif %}
        </small>
      {% endif %}
      </h4>
      {% if bookmark.description %}
        {{bookmark.description | render_markdown}}
      {%endif%}
      {% if bookmark.private %}<span class="label label-warning">private</span>{% endif %}
      {% for tag in bookmark.tags.all %}
        <a href="{% url 'tag' tag.slug %}" class="tag label
        {% if tag.slug == tag_filter %}
          label-primary
        {% elif search|lower in tag.name %}
          label-success
        {% else %}
          label-default
        {% endif %}
        ">{{tag.name}}</a> 
      {% endfor %}
      <br /><br />
    </div>
  </div>  
  {% endfor %}



  <div class="row">
    <div class="col-xs-12">
      {% include 'bookmarks/pagination-reverse.html' %}
    </div>
  </div>  

</div>


<form action="" method="get" class="form-horizontal modal fade" id="filter-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Filter</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label class="col-sm-3 control-label" for="date-range-select">Date Added</label>
          <div class="col-sm-9 input-daterange input-group" id="date-added-range-select">
            <input type="text" class="form-control" name="date_added_from" placeholder="From" 
              {% if date_added_from %}
                value="{{date_added_from}}"
              {% endif %}>
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="date_added_to" placeholder="To" 
              {% if date_added_to %}
                value="{{date_added_to}}"
              {% endif %}>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a id="reset" type="button" class="btn btn-default">Reset</a>
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </div>
  </div>
</form>

{% endblock %}

{% block scripts %}
<script src="{% static 'npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script language="javascript">
  $(document).ready(function(){
    
    // Render activity chart
    var activityData = {{ activity_data|safe }};
    var monthLabels = [];
    var weeks = [];
    var currentWeek = [];
    var currentMonth = null;
    var weekIndex = 0;
    var dayOfWeek = new Date(activityData[0].date).getDay();
    var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    
    // Add empty cells for the first week to align with Sunday
    for (var i = 0; i < dayOfWeek; i++) {
      currentWeek.push('<div class="activity-day empty"></div>');
    }
    
    // Process each day
    activityData.forEach(function(day, index) {
      var date = new Date(day.date);
      var dayOfWeek = date.getDay();
      var count = day.count;
      var month = date.getMonth();
      
      // Track month changes for labels
      if (dayOfWeek === 0 && month !== currentMonth) {
        monthLabels.push({
          weekIndex: weekIndex,
          label: monthNames[month]
        });
        currentMonth = month;
      }
      
      // Determine color level (0-4)
      var level = 0;
      if (count > 0) level = 1;
      if (count >= 3) level = 2;
      if (count >= 5) level = 3;
      if (count >= 8) level = 4;
      
      var title = day.date + ': ' + count + ' bookmark' + (count !== 1 ? 's' : '');
      var cell = '<div class="activity-day level-' + level + '" title="' + title + '"></div>';
      currentWeek.push(cell);
      
      // Start new week on Saturday (day 6)
      if (dayOfWeek === 6 || index === activityData.length - 1) {
        weeks.push('<div class="activity-week">' + currentWeek.join('') + '</div>');
        currentWeek = [];
        weekIndex++;
      }
    });
    
    // Build month labels HTML
    var monthLabelsHtml = '<div class="activity-months">';
    monthLabels.forEach(function(label) {
      monthLabelsHtml += '<div class="activity-month" style="left: ' + (label.weekIndex * 14) + 'px;">' + label.label + '</div>';
    });
    monthLabelsHtml += '</div>';
    
    $('#activity-grid').html(monthLabelsHtml + '<div class="activity-weeks">' + weeks.join('') + '</div>');

    $('#reset').on("click", function() {
      $('#filter-form').find(':input').each(function() {
        switch(this.type) {
            case 'password':
            case 'select-multiple':
            case 'select-one':
            case 'text':
            case 'textarea':
                $(this).val('');
                break;
            case 'checkbox':
            case 'radio':
                this.checked = false;
        }
      });
    });

    var today = new Date();
    $('#date-added-range-select').datepicker({
      format: "yyyy-mm-dd",
      endDate: today,
    });

    $(".bookmark").hover(
      function () {
        $(this).find('.admin-menu').removeClass('fade');
      }, 
      function () {
        $(this).find('.admin-menu').addClass('fade');
      }
    );

  });
</script>
{% endblock %}