{% extends "base.html" %}
{% load static %}
{% load template_extras %}

{% block content %}

<div class="container">

  {% for bookmark in bookmarks %}
  <div class="row bookmark">
    <div class="col-xs-12">
      <h4><a href="{{bookmark.url}}">{{bookmark.title}}</a>
      {% if bookmark.date_added %}
        <small>{{bookmark.date_added}}
        {% if user.is_staff %}
          <span class="admin-menu fade">
            <a href="#" hx-get="{% url 'bookmark_update' bookmark.id %}?{% url_replace request 'next' request.get_full_path %}&modal=true"
                        hx-target="#modals-here" 
                        hx-trigger="click" 
                        data-toggle="modal"
                        data-target="#modals-here"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          </span>
        {% endif %}
        </small>
      {% endif %}
      </h4>
      {% if bookmark.description %}
        {{bookmark.description | render_markdown}}
      {%endif%}
      {% if bookmark.private %}<span class="label label-warning">private</span>{% endif %}
      {% for tag in bookmark.tags.all %}
        <a href="{% url 'tag' tag.slug %}" class="tag label
        {% if tag.slug == tag_filter %}
          label-primary
        {% elif search|lower in tag.name %}
          label-success
        {% else %}
          label-default
        {% endif %}
        ">{{tag.name}}</a> 
      {% endfor %}
      <br /><br />
    </div>
  </div>  
  {% endfor %}



  <div class="row">
    <div class="col-xs-12">
      {% include 'bookmarks/pagination-reverse.html' %}
    </div>
  </div>  

</div>


<div id="modals-here"
    class="modal fade "
    aria-hidden="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script language="javascript">
  $(document).ready(function(){

    $(".bookmark").hover(
      function () {
        $(this).find('.admin-menu').removeClass('fade');
      }, 
      function () {
        $(this).find('.admin-menu').addClass('fade');
      }
    );

  });
</script>
{% endblock %}