{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h3>Top Tags <small>Top tags by frequency</small></h3>
          <canvas id="top_tags" style="padding-right: 30px;" width="400" height="200"></canvas>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'npm/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script language="javascript">
$(document).ready(function(){

    $.ajax({
      url:"/api/tags/?format=json",
      crossDomain: false,
      dataType: "json",
      success: function (data) {

        data.sort(function(a, b) {
            return parseFloat(a.num_items) - parseFloat(b.num_items);
        });
        data.reverse();

        var chartData = {
          labels: [],
          datasets: [
            {
              label: 'Count',
              backgroundColor: "rgba(54, 162, 235, 0.2)",
              borderColor: "rgba(54, 162, 235, 1)",
              borderWidth: 1,
              data: []
            },
          ]
        };

        for (var i=0; i < Math.min(20, data.length); i++) {
          chartData.labels.push(data[i].name);
          chartData.datasets[0].data.push(parseFloat(data[i].num_items));
        }

        var context = $("#top_tags").get(0).getContext("2d");
        var myChart = new Chart(context, {
          type: 'bar',
          data: chartData,
          options: {
            legend: {
              display: false,
            },
            responsive: true,
            maintainAspectRatio: true,
            onClick: function(event) {
              elements = myChart.getElementAtEvent(event);
              if (elements.length > 0) {
                window.location = "/tag/" + elements[0]._model.label;
              }
            },
          }
        });

      },
      error: function (xhr, status) {}
    });

});
</script>
{% endblock %}