{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    {% for year_data in activity_years %}
    <div class="row">
        <div class="col-xs-12">
          <h3>{{ year_data.year }}</h3>
          {% with activity_chart=year_data.chart %}
            {% include "bookmarks/activity_chart.html" %}
          {% endwith %}
        </div>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script language="javascript">
$(document).ready(function(){

    // Add click handlers for activity days
    $('.activity-day[data-date]').on('click', function() {
      var date = $(this).data('date');
      var nextDay = new Date(date);
      nextDay.setDate(nextDay.getDate() + 1);
      var nextDayStr = nextDay.toISOString().split('T')[0];
      window.location.href = '/?date_added_from=' + date + '&date_added_to=' + nextDayStr;
    });

});
</script>
{% endblock %}